<!doctype html>
<html lang="en">

<head>
  <title>Adopta tu animal</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--CSS General-->




  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/style.css">

</head>

<body style="background:#90a955">
  <header>
    <%- include('partials/header.ejs',{username:name},{login:login}); %>
  </header>
  <main class="animal-container">
    <h1 class="formtitle mb-4 mt-5">Nuestros Animales</h1>
    <div class="justify-content-center text-center mx-lg-5 mx-md-4 mx-2">
      <label class="py-4 formlabel text-center" for="">Buscar por especie</label>
      <select name="filter" class="form-select" id="filter">
    </div>
      <option value="">----</option>
      <option value="">Sin filtros</option>
      <option value="p">Perro</option>
      <option value="g">Gato</option>
      <option value="h">Hámster</option>
      <option value="c">Conejo</option>
    </select>
    <div class="row justify-content-center align-items-cenrer g-2 mb-3 mt-5 mx-4 card-container">

      <!--Animal list will render here-->

    </div>
    <div class="row justify-content-center gap-5 py-5 aign-items-center">
      <button id="back" class="btn btn-hero w-25">Anterior Página</button>
      <button id="next" class="btn btn-hero w-25">Siguiente Página</button>
    </div>

  </main>
  <footer class="text-center text-white" style="background-color: #132A13">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright: Rubén González, Orlando Pérez y Luis Rodríguez
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <!--custom js for fetching animals-->
    <script src="./scripts/animal_adopt.js"></script>
</body>

</html>