<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razas de Animales</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body style="background:#90a955">
    <header>

        <%- include('partials/header.ejs',{username:name},{login:login},{page_name:page_name}); %>

    </header>
    <main>
        <!-- Hero -->
        <div class="banner-image breedbanner">
            <div class="container pb-4">
                <div class="row py-5 align-items-center">
                    <div class="col-lg-6">
                        <h5 class="display-4 mb-4 mt-4 font-weight-bold text-white">Cada Animal es unico</h5>
                        <p class="h5 aa mb-5 pb-3 text-white-50">Es importante informarte sobre las razas y los cuidados
                            especificos que necesitan. por ello en esta pagina te explicamos y hablamos sobre las razas
                            mas comunes de animales y lo que requieren para tener una vida sana y alegre.</p>
                        <div class="d-flex gap-4 flex-wrap btncateg">
                            <a href="/razas#Dogbreed" class="btn btn-lg btn-hero mr-2 hoverable">
                                <i class="lni lni-apple mr-2"></i>
                                Perros</a>

                            <a href="/razas#Catbreed" class="btn btn-lg btn-hero hoverablee"><i
                                    class="lni lni-play-store mr-2"></i> Gatos</a>
                            <a href="/razas#Hamsterbreed" class="btn btn-lg btn-hero hoverablee">
                                <i class="lni lni-play-store mr-2"></i> Hamsters
                            </a>
                            <a href="/animalRegister" class="btn btn-lg btn-hero hoverablee">
                                <i class="lni lni-play-store mr-2"></i> Conejos
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
                        <div class="banner-phone-image"> <img src="media/perro_transparente.png"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5" id="Dogbreed">
            <h1 class="formtitle mb-4 mt-5">Razas de Perros</h1>
            <div class="h-divider">
                <div class="shadow"></div>
             
              </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center breedcont">
                    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                        <h1 class="breedInfoTitle">Dalmata</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Los Dalmata suelen padecer problemas cutáneos, como es la piel atópica y afecciones relacionadas con el ácido úrico. Por ello, es aconsejable que su pienso no contenga carnes rojas ni pollo. Lo mejor, en muchos casos, es darle piensos compuestos de salmón y patata.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">No es muy recomendable lavar a este tipo de perro muy a menudo, los especialistas recomiendan hacerlo una vez al mes aproximadamente.
                            Asimismo, el dálmata suele padecer otitis. Por lo que una limpieza frecuente de los oídos es muy aconsejable. Ello puede hacerse semanalmente mediante una gasa y el producto de limpieza que nos aconseje el veterinario.</p>
                    </div>
                    <div class="col-md-6 text-center py-sm-4 py-xs-4">
                        <img class="BreedInfoImg" src="media/breedMedia/dalmata.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center breedcont">
                    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                        <h1 class="breedInfoTitle my-4">Pug</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Hay que conseguir alimento apropiado para los perros Pug, ya que, como sucede comúnmente en el caso de los perros de hocico chato, son animales proclives a padecer sobrepeso, especialmente cuando se van haciendo de edad avanzada.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">Por las características físicas del Pug, por lo menos en una ocasión a la semana habrá que asear las arrugas de este perro. De no proceder así, en estas arrugas se puede acumular abundante suciedad.
                            El aseo de las orejas del perro Pug también es esencial. Estamos hablando de perros a los cuales se les acumula suciedad en las orejas con bastante facilidad. Esto sucede así porque el Pug tiene las orejas caídas. El aseo que les comentamos debe de realizarse por lo menos cada dos semanas con uno de esos bastoncillos con punta de algodón que les hemos comentado.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/pug.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center breedcont">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Chihuahua</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Los chihuahuas son perros de pequeño tamaño, con orejas largas y rectas. Su altura varía entre 15 y 25 cm y su peso entre 1,5 y 3 kg, aunque algunos llegan a pesar hasta 4,5 kg o más. Esto es importante para tener en cuenta su alimentación. El chihuahua debe comer comida especial para perros pequeños.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">El chihuahua, como el resto de las razas pequeñas, no debe bañarse con demasiada frecuencia. Una vez al mes será suficiente para que mantengas limpio a este pequeñín. Utiliza para ello agua tibia y un champú específico para su pelo que te recomendarán en establecimientos especializados.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/Chihuahua.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center breedcont">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Poodle</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Elige una dieta compuesta completamente de comida seca o una dieta húmeda de comida enlatada a la que se le agregue galletas. Las comidas secas son más saludables para los dientes del perro porque al masticar las croquetas ayuda a mantenerlos limpios.

                            Las comidas húmedas pueden ser más atractivas para las razas toy, pero la comida enlatada pegajosa o la comida en bolsa puede pegarse a los dientes y estimular la formación de placa.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">Una de las particularidades del pelo del Poodle es que está es constante crecimiento y no muda, por ello hay cortárselo y arreglárselo regularmente en la peluquería canina. Es muy importante que se le acostumbre desde pequeño a las rutinas cotidianas de peinado y aseo, para mantener su espectacular pelaje sin nudos y en perfectas condiciones higiénicas.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/shanel.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5  breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center breedcont">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Pastor Aleman</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Para su correcto desarrollo, el cachorro de pastor alemán necesita comer tres veces al día, ofreciéndole para ello un pienso que incluya todos los nutrientes que necesita, a ser posible con alimento rico en calcio para fortalecer sus huesos y con un alto contenido en fibra para mantener su flora intestinal.</p>
                        <p class="breedInfo">Cuando son adultos ya pueden reducir la dosis y comer dos veces al día. Para ello necesitan una dieta rica en proteínas y vitaminas A, D, E y K, además de Omega 3 y Omega 6 para que puedan absorber todos estos nutrientes.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">El manto del pastor alemán, que puede ser corto o largo, se caracteriza por tener una gruesa doble capa y ser bastante fácil de cuidar. Es recomendable un cepillado diario con un cepillo de dientes mediano para mantener su pelaje en buen estado, libre de suciedad, de pelo muerto y de enredos. Además, puede ser un buen momento compartido entre cuidador y cuidado.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/pastor_aleman.png">
                    
                    </div>
                </div>
            </div>
            <div class="row  my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center breedcont">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Cuidados Generales</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Los perros deben disponer en todo momento de agua fresca y limpia para poder beber e hidratarse siempre que quieran. También debemos poder proporcionarle el alimento que necesita cada día para mantener un cuerpo fuerte, sano y con energía. Es importante que sea una comida de calidad, ya que su salud será el reflejo de lo que coma.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">Cuida la higiene general de tu mascota cortando sus uñas cuando sea necesario, limpiando sus oídos y la zona de la cara. Limpia la zona de los ojos, sobre todo en perros de pelo largo que suelen acumular más legañas. También debes peinar su pelo y bañarle cuando esté sucio.</p>
                        <h5 class="breedInfoSubtitle my-4">Descanso</h5>
                        <p class="breedInfo my-4">Cualquier animal necesita dormir en un lugar cómodo y cálido. Ofrece a tu perro una cama o colchoneta adecuada a su tamaño para que pueda tener un sueño de calidad. Los perros emplean muchas horas del día al descanso, así que el lugar donde lo haga debe ser muy confortable.</p>
                        <h5 class="breedInfoSubtitle my-4">Educacion</h5>
                        <p class="breedInfo my-4">Cualquier animal necesita dormir en un lugar cómodo y cálido. Ofrece a tu perro una cama o colchoneta adecuada a su tamaño para que pueda tener un sueño de calidad. Los perros emplean muchas horas del día al descanso, así que el lugar donde lo haga debe ser muy confortable.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/perros.png">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5" id="Catbreed">
            <h1 class="formtitle mb-4 mt-5">Razas de Gatos</h1>
            <div class="h-divider">
                <div class="shadow"></div>
             
              </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Carey</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">La alimentación de estos felinos es igual a la de otros gatos. Su comida debe ser rica en proteínas animales, así como en vitaminas y minerales esenciales, para promover un crecimiento saludable.

                            Sin embargo, antes de decidir la cantidad de comida y croquetas que hay que darle debes tener en cuenta factores esenciales como su peso y salud, si es un gato de interior o exterior, si está cazando por su cuenta, haciendo ejercicio o llevando una vida sedentaria, etc.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">Un gato carey debe ser cepillado de acorde a su raza y pelaje, más frecuentemente en razas de pelo largo que en el caso de un carey de pelo corto, para evitar nudos, enredos y pérdida de pelo.

                            El cepillado debe intensificarse a lo largo de su temporada de muda, ya que algunos felinos tienen problemas para asearse. El cepillado ayuda a distribuir la grasa de la piel de forma uniforme, a desenredar las esteras y a mantener su pelaje en excelente forma.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/Gato_Carey.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Calico</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Una comida saludable para gatos, seca y/o enlatada, suele ser una gran opción para alimentar a los calicós de cualquier raza. Sin embargo, siempre es más adecuado investigar si la raza específica de gato necesita una dieta concreta, para averiguar si tiene algún requisito dietético que debas conocer.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">Mantener una buena higiene para prevenir enfermedades. Es recomendable limpiar regularmente su caja de arena, bañarlo con moderación, y cepillar su pelaje regularmente para evitar la acumulación de pelo muerto y mantenerlo limpio.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/calico.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Esfinge</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">El gato sphynx precisa una alimentación distinta a la de la inmensa mayoría de razas felinas. Al carecer de un manto espeso de pelo (están cubiertos por un vello muy corto, casi indetectable a la vista y al tacto), los gatos esfinge tienen un sistema termorregulador más complejo que las otras razas. Su temperatura corporal es más elevada que la de los gatos peludos para compensar la carencia de pelo.

                            Esta diferencia de metabolismo más acelerado provoca que el gato esfinge consuma más alimento que cualquier otro gato de su mismo tamaño. Por dicho motivo es imperativo alimentar al gato esfinge de forma especial.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">Los gatos esfinge sudan y acumulan una grasa protectora, de textura aceitosa, en su piel. Esta circunstancia provoca que se ensucien más a menudo que los gatos con pelo. Además, no pueden acicalarse correctamente a sí mismos, por lo que dependen de su cuidador para su correcta higiene.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/esfinge.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Cuidados Generales</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Siempre de calidad y adaptada a sus etapas de vida. Los gatitos tienen necesidades nutricionales distintas a las de los gatos adultos, centradas en fomentar su correcto desarrollo y crecimiento, y además el número de sus tomas diarias suele ser más frecuente. A partir del año, el gato se considera adulto, y suele necesitar alimentos menos calóricos para evitar el posible sobrepeso, u otras variedades de producto que respondan a un nuevo estadio</p>
                        <h5 class="breedInfoSubtitle my-4">Arenero</h5>
                        <p class="breedInfo my-4">Adquiere un arenero que se adapte bien a sus dimensiones, sobre todo cuando tu gato ya haya alcanzado su etapa adulta. Colócalo en un lugar tranquilo, alejado de la zona de alimentación, bebida y relax. Con ayuda de una pala retira sus deposiciones diarias, y cambia la arena con una frecuencia semanal.</p>
                        <h5 class="breedInfoSubtitle my-4">Ejercicio</h5>
                        <p class="breedInfo my-4">No es necesario que le compres un super parque de juego. Con imaginación y algunos remedios caseros, puedes construirle elementos que lo incentiven a jugar e interactuar contigo, tales como pelotas de trapo, cajas de cartón con distintos niveles, o premiarle con juguetes tipo ratitas que despertarán sus instintos naturales de caza.</p>
                        <h5 class="breedInfoSubtitle my-4">Educacion</h5>
                        <p class="breedInfo my-4">Acostúmbralo a limarse las uñas en un rascador desde que es gatito. Ésta es la mejor solución para que no recurra a hacerlo en sofás, cortinas y muebles. Añade a este aspecto la rutina del corte de uñas. Ciertamente, puede ser una labor compleja y estresante para tu gato y para ti, pero en tiendas especializadas en mascotas puedes adquirir tijeras seguras que impedirán que puedas dañar alguno de sus nervios. </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/cats.png">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5" id="Hamsterbreed">
            <h1 class="formtitle mb-4 mt-5">Razas de Hamster</h1>
            <div class="h-divider">
                <div class="shadow"></div>
             
              </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Dorado</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Alimentar a un hámster es muy sencillo. Tienes que buscar un pienso específico para estos animales, que consta de semillas y cereales. Esta será la base de su alimentación, que hay que complementar con frutas y verduras frescas, como pera, manzana, brócoli, pimientos</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">Con la idea de mantener una correcta higiene y evitar la proliferación de bacterias, hay que sustituir el lecho y desinfectar la bandeja una vez a la semana. De igual forma, se deben retirar todos los restos de comida y desecho que pueda haber en toda la jaula. Lo ideal es que, cada día se repasen los barrotes con un trapo y agua caliente, se limpie el comedero y se cambie el agua.

                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/dorado.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Roborowski</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">El hámster roborowski se alimenta básicamente de comida para hámsters de buena calidad. Asegúrate de que es un alimento variado, que incluya diferentes semillas como pipas de girasol y una variedad de granos, así como trocitos de plátano u otras frutas en pequeñas cantidades.

                            Como complemento a su alimento básico, puedes darles gusanos de la harina (ricos en proteínas) y pequeños pedacitos de verduras y frutas frescas siempre bien lavadas y sin pepitas. Dales siempre trozos pequeños, si no, podrían empacharse o atragantarse con pedazos imposibles de manejar para ellos.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">El agua debe de ser limpia y fresca y cambiada todos los días. Además hay que retirar los restos de alimentos que hayan quedado para evitar la proliferación de bacterias que puedan atacarles.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/roborowski.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex  align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Cuidados Generales</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">los hámsters son animales omnívoros, pero su alimentación se basa sobre todo en una dieta vegetariana. Hay alimentos completos para hámsters, que respetan todas sus necesidades y son muy ricos en fibra.</p>
                        <h5 class="breedInfoSubtitle my-4">Jaula y Lecho</h5>
                        <p class="breedInfo my-4">¿Será muy difícil mantener la jaula del hámster limpia? En absoluto. Lo mejor para su cuidado es que utilices lechos biológicos, como el lecho vegetal o la viruta, que levantan poco polvo. La paja, por el contrario, suele tener alta concentración de pesticidas, que son muy malos para ellos.</p>
                        <h5 class="breedInfoSubtitle my-4">Comportamiento</h5>
                        <p class="breedInfo my-4">os hámsters son muy sociables, pero no siempre desde el primer momento, como todos, necesitan coger un poco de confianza, por lo que la paciencia y los contactos cotidianos y repetidos son la clave para adiestrarle mejor. Para cogerle, la manera más segura y menos estresante para el animal es acogerlo en el hueco de tu mano.</p>
                        
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/hamsters.png">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5" id="Bunnybreed">
            <h1 class="formtitle mb-4 mt-5">Razas de Conejos</h1>
            <div class="h-divider">
                <div class="shadow"></div>
             
              </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Belier</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Alimentar a un hámster es muy sencillo. Tienes que buscar un pienso específico para estos animales, que consta de semillas y cereales. Esta será la base de su alimentación, que hay que complementar con frutas y verduras frescas, como pera, manzana, brócoli, pimientos</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">Con la idea de mantener una correcta higiene y evitar la proliferación de bacterias, hay que sustituir el lecho y desinfectar la bandeja una vez a la semana. De igual forma, se deben retirar todos los restos de comida y desecho que pueda haber en toda la jaula. Lo ideal es que, cada día se repasen los barrotes con un trapo y agua caliente, se limpie el comedero y se cambie el agua.

                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/dorado.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex flex-row-reverse align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Hotot</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">El hámster roborowski se alimenta básicamente de comida para hámsters de buena calidad. Asegúrate de que es un alimento variado, que incluya diferentes semillas como pipas de girasol y una variedad de granos, así como trocitos de plátano u otras frutas en pequeñas cantidades.

                            Como complemento a su alimento básico, puedes darles gusanos de la harina (ricos en proteínas) y pequeños pedacitos de verduras y frutas frescas siempre bien lavadas y sin pepitas. Dales siempre trozos pequeños, si no, podrían empacharse o atragantarse con pedazos imposibles de manejar para ellos.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">El agua debe de ser limpia y fresca y cambiada todos los días. Además hay que retirar los restos de alimentos que hayan quedado para evitar la proliferación de bacterias que puedan atacarles.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/roborowski.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-right py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Gigante de Flandes</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Alimentar a un hámster es muy sencillo. Tienes que buscar un pienso específico para estos animales, que consta de semillas y cereales. Esta será la base de su alimentación, que hay que complementar con frutas y verduras frescas, como pera, manzana, brócoli, pimientos</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">Con la idea de mantener una correcta higiene y evitar la proliferación de bacterias, hay que sustituir el lecho y desinfectar la bandeja una vez a la semana. De igual forma, se deben retirar todos los restos de comida y desecho que pueda haber en toda la jaula. Lo ideal es que, cada día se repasen los barrotes con un trapo y agua caliente, se limpie el comedero y se cambie el agua.

                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/dorado.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-md-5 mx-xs-5 mx-sm-5 breed-left py-5 px-5">
                <div class="container d-sm-block d-xs-block d-md-flex  align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Cuidados Generales</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">los hámsters son animales omnívoros, pero su alimentación se basa sobre todo en una dieta vegetariana. Hay alimentos completos para hámsters, que respetan todas sus necesidades y son muy ricos en fibra.</p>
                        <h5 class="breedInfoSubtitle my-4">Jaula y Lecho</h5>
                        <p class="breedInfo my-4">¿Será muy difícil mantener la jaula del hámster limpia? En absoluto. Lo mejor para su cuidado es que utilices lechos biológicos, como el lecho vegetal o la viruta, que levantan poco polvo. La paja, por el contrario, suele tener alta concentración de pesticidas, que son muy malos para ellos.</p>
                        <h5 class="breedInfoSubtitle my-4">Comportamiento</h5>
                        <p class="breedInfo my-4">os hámsters son muy sociables, pero no siempre desde el primer momento, como todos, necesitan coger un poco de confianza, por lo que la paciencia y los contactos cotidianos y repetidos son la clave para adiestrarle mejor. Para cogerle, la manera más segura y menos estresante para el animal es acogerlo en el hueco de tu mano.</p>
                        
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/hamsters.png">
                    
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="text-center text-white" style="background-color: #132A13">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->


            <!-- Section: Social -->
            <section class="text-center mb-5">
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!--Jquery-->

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!--Bootstrap JavaScript Libraries-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>