<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razas de Animales</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body style="background:#90a955">
    <header>

        <%- include('partials/header.ejs',{username:name},{login:login},{page_name:page_name}); %>

    </header>
    <main>
        <!-- Hero -->
        <div class="banner-image breedbanner">
            <div class="container pb-4">
                <div class="row py-5 align-items-center">
                    <div class="col-lg-6">
                        <h5 class="display-4 mb-4 mt-4 font-weight-bold text-white">Cada Animal es unico</h5>
                        <p class="h5 aa mb-5 pb-3 text-white-50">Es importante informarte sobre las razas y los cuidados
                            especificos que necesitan. por ello en esta pagina te explicamos y hablamos sobre las razas
                            mas comunes de animales y lo que requieren para tener una vida sana y alegre.</p>
                        <div class="d-flex gap-4">
                            <a href="/animal" class="btn btn-lg btn-hero mr-2 hoverable">
                                <i class="lni lni-apple mr-2"></i>
                                Perros</a>

                            <a href="/animalRegister" class="btn btn-lg btn-hero hoverablee"><i
                                    class="lni lni-play-store mr-2"></i> Gatos</a>
                            <a href="/animalRegister" class="btn btn-lg btn-hero hoverablee">
                                <i class="lni lni-play-store mr-2"></i> Hamsters
                            </a>
                            <a href="/animalRegister" class="btn btn-lg btn-hero hoverablee">
                                <i class="lni lni-play-store mr-2"></i> Conejos
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
                        <div class="banner-phone-image"> <img src="media/perro_transparente.png"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5">
            <h1 class="formtitle mb-4 mt-5">Razas de Perros</h1>
            <div class="h-divider">
                <div class="shadow"></div>
             
              </div>
            <div class="row my-5 mx-5 breed-right py-5 px-5">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Dalmata</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Los Dalmata suelen padecer problemas cutáneos, como es la piel atópica y afecciones relacionadas con el ácido úrico. Por ello, es aconsejable que su pienso no contenga carnes rojas ni pollo. Lo mejor, en muchos casos, es darle piensos compuestos de salmón y patata.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">No es muy recomendable lavar a este tipo de perro muy a menudo, los especialistas recomiendan hacerlo una vez al mes aproximadamente.
                            Asimismo, el dálmata suele padecer otitis. Por lo que una limpieza frecuente de los oídos es muy aconsejable. Ello puede hacerse semanalmente mediante una gasa y el producto de limpieza que nos aconseje el veterinario.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/dalmata.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-5 breed-left py-5 px-5">
                <div class="container d-flex flex-row-reverse align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Pug</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Hay que conseguir alimento apropiado para los perros Pug, ya que, como sucede comúnmente en el caso de los perros de hocico chato, son animales proclives a padecer sobrepeso, especialmente cuando se van haciendo de edad avanzada.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">Por las características físicas del Pug, por lo menos en una ocasión a la semana habrá que asear las arrugas de este perro. De no proceder así, en estas arrugas se puede acumular abundante suciedad.
                            El aseo de las orejas del perro Pug también es esencial. Estamos hablando de perros a los cuales se les acumula suciedad en las orejas con bastante facilidad. Esto sucede así porque el Pug tiene las orejas caídas. El aseo que les comentamos debe de realizarse por lo menos cada dos semanas con uno de esos bastoncillos con punta de algodón que les hemos comentado.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/pug.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-5 breed-right py-5 px-5">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Chihuahua</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Los chihuahuas son perros de pequeño tamaño, con orejas largas y rectas. Su altura varía entre 15 y 25 cm y su peso entre 1,5 y 3 kg, aunque algunos llegan a pesar hasta 4,5 kg o más. Esto es importante para tener en cuenta su alimentación. El chihuahua debe comer comida especial para perros pequeños.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">El chihuahua, como el resto de las razas pequeñas, no debe bañarse con demasiada frecuencia. Una vez al mes será suficiente para que mantengas limpio a este pequeñín. Utiliza para ello agua tibia y un champú específico para su pelo que te recomendarán en establecimientos especializados.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/Chihuahua.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-5 breed-left py-5 px-5">
                <div class="container d-flex flex-row-reverse align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle my-4">Poodle</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo my-4">Elige una dieta compuesta completamente de comida seca o una dieta húmeda de comida enlatada a la que se le agregue galletas. Las comidas secas son más saludables para los dientes del perro porque al masticar las croquetas ayuda a mantenerlos limpios.

                            Las comidas húmedas pueden ser más atractivas para las razas toy, pero la comida enlatada pegajosa o la comida en bolsa puede pegarse a los dientes y estimular la formación de placa.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo my-4">Una de las particularidades del pelo del Poodle es que está es constante crecimiento y no muda, por ello hay cortárselo y arreglárselo regularmente en la peluquería canina. Es muy importante que se le acostumbre desde pequeño a las rutinas cotidianas de peinado y aseo, para mantener su espectacular pelaje sin nudos y en perfectas condiciones higiénicas.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/shanel.png">
                    
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-5 breed-right py-5 px-5">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="breedInfoTitle">Pastor Aleman</h1>
                        <h5 class="breedInfoSubtitle my-4">Alimentacion</h5>
                        <p class="breedInfo">Para su correcto desarrollo, el cachorro de pastor alemán necesita comer tres veces al día, ofreciéndole para ello un pienso que incluya todos los nutrientes que necesita, a ser posible con alimento rico en calcio para fortalecer sus huesos y con un alto contenido en fibra para mantener su flora intestinal.</p>
                        <p class="breedInfo">Cuando son adultos ya pueden reducir la dosis y comer dos veces al día. Para ello necesitan una dieta rica en proteínas y vitaminas A, D, E y K, además de Omega 3 y Omega 6 para que puedan absorber todos estos nutrientes.</p>
                        <h5 class="breedInfoSubtitle my-4">Higiene</h5>
                        <p class="breedInfo">El chihuahua, como el resto de las razas pequeñas, no debe bañarse con demasiada frecuencia. Una vez al mes será suficiente para que mantengas limpio a este pequeñín. Utiliza para ello agua tibia y un champú específico para su pelo que te recomendarán en establecimientos especializados.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="BreedInfoImg" src="media/breedMedia/Chihuahua.png">
                    
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="text-center text-white" style="background-color: #132A13">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->


            <!-- Section: Social -->
            <section class="text-center mb-5">
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!--Jquery-->

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!--Bootstrap JavaScript Libraries-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>