<!doctype html>
<html lang="en">

<head>
    <title>Pet Society</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body style="background:#90a955">
    <header>

        <%- include('partials/header.ejs',{username:name},{login:login},{page_name:page_name}); %>



    </header>
    <main>
        <!-- Hero -->
        <div class="banner-image">
            <div class="container pb-4">
                <div class="row py-5 align-items-center">
                    <div class="col-lg-6">
                        <h5 class="display-4 mb-4 mt-4 font-weight-bold text-white">Brinda un hogar a un animalito en
                            situación de
                            calle</h5>
                        <p class="h5 aa mb-5 pb-3 text-white-50">¿Encontraste un animalito en situación de calle y
                            necesitas darle
                            un hogar? Este es un espacio diseñado para realizar todo el proceso para que sea adoptado y
                            encuentre su
                            hogar ideal. No esperes más, regístrala de una vez.</p>
                        <div class="d-flex gap-4">
                            <a href="/animal" class="btn btn-lg btn-hero mr-2 hoverable"><i class="lni lni-apple mr-2"></i>
                                Adoptar un Animal</a>
                            <a href="/animalRegister" class="btn btn-lg btn-hero hoverablee"><i
                                    class="lni lni-play-store mr-2"></i> Dar en adopcion</a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
                        <div class="banner-phone-image"> <img src="media/gato transparente.png"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero -->
        <!--Latest animals-->

        <h1 class="formtitle mb-4 mt-5">Recien llegados</h1>
        <div id="carouselExampleControls" class="carousel mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1561495376-dc9c7c5b8726?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                            alt="">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1589952283406-b53a7d1347e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt="">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="px-4 py-4">
            
                <h1 class="formtitle mb-4 mt-5"> ¿Deseas saber mas sobre las razas y sus cuidados?</h1>
                <p class="h5 aa mb-5 pb-3 text-center">Cada especie necesita y merece los cuidados,comida y atencion adecuada segun su raza, te invitamos a conocer mas </p>
                <div class="container-fluid yellowbox my-5 px-1 py-5 gap-2  text-center" >
                    <div class="d-flex mb-5 flex-wrap imagescont">
                        <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3   ">
                            <img src="https://images.unsplash.com/photo-1610349406712-d1c71803c936?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="roundedBreed " alt="">
                            <div><a href="/razas#Dogbreed" class="breedlink mt-4">Perros</a></div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 ">
                            <img src=" https://images.unsplash.com/photo-1584553421349-3557471bed79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=846&q=80 " class="roundedBreed  " alt="">
                            <div><a href="/razas#Hamsterbreed" class="breedlink mt-4">Hamsters</a></div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 ">
                            <img src="https://images.unsplash.com/photo-1609151354448-c4a53450c6e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" class="roundedBreed " alt="">
                            <div><a href="/razas#Bunnybreed" class="breedlink mt-4">Conejos</a></div>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 ">
                            <img src="https://images.unsplash.com/photo-1557408938-0f220f49bca1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="roundedBreed " alt="">
                            <div><a href="/razas#Catbreed" class="breedlink mt-4">Gatos</a></div>
                        </div>
                    
                    </div>
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-md-12 text-center seemorecontainer">
                            <a href="/razas"  class="Seemore d-block hoverable">Ver Mas Informacion</a>
                        </div>
                    </div>
                    
                </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #132A13">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            

            <!-- Section: Social -->
            <section class="text-center  py-4">
                <a href="" class="text-white me-4 text-decoration-none">
                <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="text-white me-4 text-decoration-none">
                <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="text-white me-4 text-decoration-none">
                <i class="bi bi-instagram"></i>
                </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!--Jquery-->

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!--Bootstrap JavaScript Libraries-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <script src="scripts/carousel.js"></script>
    <script src="/scripts/recent_animals.js"></script>
    <script src="/scripts/notifications.js"></script>
</body>

</html>