/* <--- Estilos Generales ---> */

#wronguser{

    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  
    color: #5e1919;


}

.yellowbox{
    background-color: #ecf39e;
    border-radius: 20px;
    
}

.roundedBreed{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
   

}

.Seemore{
    background: #31572C;
    border-radius: 20px;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 30px;
   padding-right: 30px;
    text-align: center;

    color: #FFFFFF;
    margin-top:2rem;
    text-decoration: none;
}

.seemorecontainer{
   width: 60%;
}

.breedlink{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    color: #132A13
}

.breedlink:hover{

    color: #4F772D;
    cursor: pointer;

}


.formularybody {

    background-color: #90A955;
    align-items: center;
    justify-content: center;

}

.form_image {
    max-height: auto;

}

.messagebox {

    height: 100px !important;

}

.top-form-banner {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 745px;
    height: 200px;

}

.top-img-container {

    margin-top: 4rem;
    margin-bottom: -5px;
    align-items: center;
    text-align: center;

}

.formlabel {

    display: block;
    margin-top: 2rem;
    text-align: left;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #132A13;
}

.formtitle {
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;

    color: #132A13;

}

.formsubtitle {
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;

    text-align: center;

    color: #132A13;

}

.form_input {

    width: 100%;
    height: 25px;
    border: solid 1px #132A13;
}

#login_password {

    width: 100%;
    height: 25px;
    border: solid 1px #132A13;

}

.radio_container {

    display: flex;
    gap: 5rem;

}

.radiolabel {

    margin-top: 0.5rem;
    text-align: left;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;


    color: #132A13;

}

.medium-width {

    display: flex;
    gap: 4rem;

}

.halfcontainer {

    width: 50%;

}

.hyperlink {
    color: #4F772D;
    cursor: pointer;

}

.hoverable:hover {
    background: #132A13 !important;

    color: #FFFFFF !important;
    cursor: pointer !important;
}

.formbody {

    background-color: #90A955;

}

/* <-----Barra de navegacion ---->*/
.navbar {

    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #132A13;
}

.logonav {

    width: 100%;
    height: 75px;
}

.navbar-toggler {

    background-color: white;

}

.navbar-collapse {

    text-align: center;

}

.navbar-nav {

    justify-content: end;
    flex: auto;
}


.nav-link {


    font-family: 'Fanwood Text';
    padding-left: 2rem !important;
    font-size: 18px;
    padding-left: 2rem !important;


}

/* <--- Estilos Login ---> */

.loginform_container {

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    width: 80%;

}

.formulario_login {
    background-color: #ECF39E;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;

}

.loginform_button {
    background: #31572C;
    border-radius: 15px;
    padding: 1rem;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 4rem;
    color: #FFFFFF;
    border: none;
    
}

/* <--- Estilos Perfil --- > */



/* <--- Estilos Registro ---> */


.regis_formlabel {

    display: block;
    margin-top: 2rem;
    text-align: left;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #132A13;
}

.registform_container {
    display: flex;


    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.formulario_registro {
    background-color: #ECF39E;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    min-width: 650px;
    padding-bottom: 1rem;
    max-width: fit-content;
    
    margin-bottom: 1.5rem;
   


}

.registform_button {
    background: #31572C;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1rem;
    color: #FFFFFF;
    border: none;
    
}

.p_registrar {
    margin-top: 5rem;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #132A13;
}


/* <---- Registro Animales Estilo ----> */

.animalform_container {
    display: flex;


    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
}

.formulario_animal {
    background-color: #ECF39E;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    min-width: 650px;
    padding-bottom: 1rem;
    max-width: fit-content;

    margin-bottom: 1rem;


}


@media (min-width: 768px) and (max-width: 1024px) {
  
    .roundedBreed{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-bottom: 10px;
       
    
    }
    
  }


@media (max-width:767px) {
    .imagescont{
       
        gap: 3rem;
        justify-content: center;
    }
    .seemorecontainer {
        width: 95%;
    }
    
    .roundedBreed{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin-bottom: 10px;
       
    
    }


    .radio_container {
        display: flex;
        gap: 5rem;
        text-align: center;
        justify-content: center;
    }

    .form_image {

        display: none;
    }

    .formtitle {
        font-size: 30px;
    }

    .formsubtitle {

        font-size: 25px;
    }

    .formulario_login {

        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 10px;
        
    }

    .registform_container {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 90%;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-right: 1rem;
        margin-left: 1rem;

    }

    .formulario_registro {

        min-width: 200px;
    }

    .medium-width {
        display: block;
        gap: 4rem;
    }

    .halfcontainer {
        width: 100%;
        display: block;
    }

    .regis_formlabel {

        text-align: center;

    }

    .animalform_container {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 4rem;
        /* margin-right: 1rem; */
        /* margin-left: 1rem; */
    }

    .formulario_animal {

        min-width: 200px;
    }

    .top-form-banner {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        height: 180px;
    }
}


/* <------ Hero -------->*/

.butn {
    padding: 14px 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn{
    padding: 14px 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-hero {
    background-color: #31572C;
    border-color: #31572C;
    color: #FFFFFF;
}

.btn-hero:hover {

    background: #132A13 !important;

    color: #FFFFFF !important;
    cursor: pointer !important;


}

.banner-image {
    background: linear-gradient(rgba(96, 108, 56, 0.8), rgba(40, 54, 24, 0.8)), url(https://images.unsplash.com/photo-1660739675627-ab1b48421122?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    background-size: cover;
    background-position: center;
}

.breedbanner{
    background: linear-gradient(rgba(65, 108, 56, 0.8), rgba(40, 54, 24, 0.8)), url(https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;

}

/* Dividers */

.h-divider {
    margin: auto;
    margin-top: 60px;
    width: 95%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 5px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }
  
  .h-divider .text {
    width: 100px;
    height: 45px;
    padding: 10px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -33px;
    left: 50%;
    margin-left: -60px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
  }
  

 
  
 

.banner-phone-image img {
    width: 300px;
}

.star-rating a {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}

.star-rating a:hover {
    color: #fff;
}

.aa {
    line-height: 26px;
}


/* Latest Added */


.card-img-top {

    max-height: 200px;
    min-height: 200px;

}

.card-body {

    background-color: #ecf39e;


}

.card {
    border: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}


/*Estilo de Pagina de Razas */

.breedInfoTitle{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #132A13;
}

.breedInfoSubtitle{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    text-align: center;

    color: #132A13;
}

.breedInfo{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: #132A13;;
}

.BreedInfoImg{
    width: 40vh;
    height: 40vh;
}

.breed-right{
    background: #ecf39e;
    border-radius: 0px 20px 20px 0px;
}

.breed-left{
    background: #ecf39e;
    border-radius: 20px 0px 0px 20px;
}


@media screen and (max-width:768px) {
    .btncateg{
        justify-content: center;
    }

    .breed-right{
        margin: 10px;
    }

    .breed-left{
        margin: 10px;
    }

    .BreedInfoImg{
        margin-top: 10px;
        width: 25vh;
        height: 25vh;
    }


    
}

/*Estilo de columnas de razas */

@media screen and (min-width: 576px) {

    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}


/*Informacion del animal */

.animalinfo_container {

    background-color: #ECF39E;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5rem;

}

.btn-heart {
    background-color: #89913b;
    border: black 2px solid;
    border-radius: 300px;

}

/* Estilos de pagina de perfil */

.profilecont1{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
}

.profimage{
    width: 20vh;
    height: 20vh;
}

.profilename{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #132A13;
}

.profilemail{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center;

    color: #132A13;
}

.profilecont2{
    background: #ECF39E;
    border-radius: 0px 20px 20px 0px;
}

.profileinput{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;

}

.profilelabel{
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #132A13;

}

.sendPbtn{
    background: #31572C;
    border-radius: 20px;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    width: 45%;
    text-decoration: none;
}

@media (max-width:768px)  {
    .profilecont1{
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      
    }

    .profilecont2{
        background: #ECF39E;
        border-radius: 0px;
    }
    
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .profilecont1{
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      
    }

    .profilecont2{
        background: #ECF39E;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}