body{

background-color: #90A955;
align-items: center;
justify-content: center;

}

.form_container{

    display: flex;
     margin-top: 3rem;
     margin-bottom: 2rem;
    text-align: center;
    justify-content: center;

}

.formulario_login{
    background-color: #ECF39E;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    
}

.form_image{
    max-height: auto;

}

.formlabel{

    display: block;
    margin-top: 2rem;
    text-align: left;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.formtitle{
font-family: 'Fanwood Text';
font-style: normal;
font-weight: 400;
font-size: 40px;
margin-bottom: 10px;
text-align: center;

color: #132A13;

}

.formsubtitle{
font-family: 'Fanwood Text';
font-style: normal;
font-weight: 400;
font-size: 30px;
margin-top: 10px;

text-align: center;

color: #132A13;

}

#login_user{

   width: 100%;
    height: 25px;
    border: solid 1px #132A13;
}

#login_password{

    width: 100%;
    height: 25px;
    border: solid 1px #132A13;
    margin-bottom: 4rem;
}

.login_buton{
    background: #31572C;
    border-radius: 15px;
    padding: 1rem;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.p_registrar{
    margin-top: 5rem;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #132A13;
}

.hyperlink{
color: #4F772D;
cursor: pointer;

}

.login_buton:hover{
    background:#132A13 ;
    border-radius: 15px;
    padding: 1rem;
    font-family: 'Fanwood Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}